/* static/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: #333;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
}

nav {
    background-color: #f1f1f1;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 1em;
}

#cam_header {
    background-color: #333;
    color: white;
    width: 95vw;

    font-size: 1.5em;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 5vw;
    font-weight: bold;
    overflow: hidden;
}

#cam_main {
    height: 93vh;
    width: 100vw;
}
