<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        
        <link rel="icon" href="{{ url_for('static', filename='images/logo.jpg') }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.jpg') }}" type="image/x-icon">

        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    </head>
    <body>
        {% include 'components/navbar.html' %}
        <div class="hero">
            <div class="animated-section">
                <div class="hero-img">
                    <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="hero image">
                </div>
                <div class="hero-text">
                    <h1>XHole Detection</h1>
                    <h2>Fragmentasi Peledakan Terbaik dalam Genggamanmu!</h2>
                </div>
            </div>
        </div>

        <div id="overlay"></div>
    </body>
</html>