<h1>Read</h1>
<button type="button" onclick="window.location.href='/read'">Read Data</button>

<h1>Insert</h1>
<form action="/insert">
    Name: <input name="name" type="text" /> <br>
    Address: <input name="address" type="text" /> <br>
    <input type="submit" />
</form>

<h1>Delete</h1>
    <form action="/delete">
    Name: <input name="name" type="text" /> <br>
    <input type="submit" />
</form>

<h1>Update</h1>
    <form action="/update">
    Name: <input name="name" type="text" /> <br>
    New Address: <input name="new_address" type="text" /> <br>
    <input type="submit" />
</form>
