<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        
        <link rel="icon" href="{{ url_for('static', filename='images/logo.jpg') }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.jpg') }}" type="image/x-icon">

        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/recommend.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/recommend.js') }}"></script>
    </head>
    <body>
        {% include 'components/navbar.html' %}
        <div class="container">
            <div class="fixed-top">
                <!-- Content for fixed top part -->
                <h1>Fixed Top Part</h1>
            </div>
            <div class="form-main">
                <form action="/result" method="post">
                    <h1 class="title">Recommendation System</h1>
                    
                    <h2 class="subtitle">Rock and Explosives</h2>
                    <label for="rock">Rock Type</label>
                    <select name="rock" id="rock">
                        {% for option in rock_options %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                    <div id="rock-info" class="info"></div>

                    <label for="explosives">Explosive Type</label>
                    <select name="explosives" id="explosives">
                        <option value="TNT">TNT</option>
                        <option value="ANFO">ANFO</option>
                    </select>
                    <div id="explosives-info" class="info"></div>

                    <label for="expdensity">Explosive Density (gr/cc)</label>
                    <input type="text" name="expdensity" id="expdensity" pattern="[0-9]+(\.[0-9]+)?" required>
                    <div id="expdensity-info" class="info"></div>

                    <label for="detspeed">Detonation Speed (ft/s)</label>
                    <input type="text" name="detspeed" id="detspeed" pattern="[0-9]+(\.[0-9]+)?" required>
                    <div id="detspeed-info" class="info"></div>

                    <!-- Kalo blasting energy, ANFO = 100, TNT = 115 -->

                    <h2 class="subtitle">Rock Factor</h2>
                    <label for="rmd">Rock Mass Description (RMD)</label>
                    <select name="rmd" id="rmd">
                        <option value="1">Powdery / Friable</option>
                        <option value="2">Blocky</option>
                        <option value="3">Totally Massive</option>
                    </select>
                    <div id="rmd-info" class="info"></div>

                    <label for="jps">Joint Plane Spacing (JPS)</label>
                    <select name="jps" id="jps">
                        <option value="1">Close (less than 0.1m)</option>
                        <option value="2">Intermediate (0.1 - 1m)</option>
                        <option value="3">Wide (more than 1m)</option>
                    </select>
                    <div id="jps-info" class="info"></div>

                    <label for="jpo">Joint Plane Orientation (JPO)</label>
                    <select name="jpo" id="jpo">
                        <option value="1">Horizontal</option>
                        <option value="2">Dip out of Face</option>
                        <option value="3">Strike Normal to Face</option>
                        <option value="4">Dip into Face</option>
                    </select>
                    <div id="jpo-info" class="info"></div>

                    <h2 class="subtitle">Kuz-Ram Parameters</h2>
                    <!-- Kalo blasthole diameter (minimum), ANFO = 0.03, TNT = 0.005 -->
                    <label for="level">High Level (m)</label>
                    <input type="text" name="level" id="level" pattern="[0-9]+(\.[0-9]+)?" required>
                    <div id="level-info" class="info"></div>

                    <label for="ignition">Ignition Method</label>
                    <select name="ignition" id="ignition">
                        <option value="True">Serentak</option>
                        <option value="False">Tunda</option>
                    </select>
                    <div id="ignition-info" class="info"></div>

                    <label for="rockdepo">Rock Deposition</label>
                    <select name="rockdepo" id="rockdepo">
                        <option value="1">Steeply dipping into cut</option>
                        <option value="2">Steeply dipping into face</option>
                        <option value="3">Others</option>
                    </select>
                    <div id="rockdepo-info" class="info"></div>

                    <label for="geostruc">Geologic Structure</label>
                    <select name="geostruc" id="geostruc">
                        <option value="1">Heavily cracked</option>
                        <option value="2">Thin well cemented layers</option>
                        <option value="3">Massive intact rock</option>
                    </select>
                    <div id="geostruc-info" class="info"></div>

                    <label for="rows">Number of Rows</label>
                    <input type="text" name="rows" id="rows" pattern="[0-9]+(\.[0-9]+)?" required>
                    <div id="rows-info" class="info"></div>
                    
                    <h2 class="subtitle">Rosin-Rammler Parameters</h2>
                    <label for="stdevdrill">Standard Deviataion of Drilling Accuracy</label>
                    <input type="text" name="stdevdrill" id="stdevdrill" pattern="[0-9]+(\.[0-9]+)?" required>
                    <div id="stdevdrill-info" class="info"></div>

                    <button type="submit">Give me the best advice!</button>
                </form>
            <div>
        </div>

        <div id="overlay"></div>    
    </body>
</html>