/* Primary styles */
* {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;

    /* Color constant */
    --color1: #FFF;
    --color2: #000614;
    --color3: #6d8086;
    --color4: #2c3e3f;
    --color5: #f7c156;
    --color6: #a02d00;
    --color7: #fef1af;
    --gradient: linear-gradient(180deg, rgba(0,6,20,1) 85%, #2c3e3f 125%);
}

body {
    font-family: "Poppins", sans-serif;
}

/* Navigation bar */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: var(--color2);
    padding: 1rem 1rem;
    font-size: 1.25rem;
    z-index: 1000;
}

.logo a {
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.logo img {
    width: 40px;
    padding-right: 0.5rem;
}

li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    font-weight: 700;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
    display: none;
    z-index: 999;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

#overlay.active {
    pointer-events: auto;
}

@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
        padding-left: 0;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu , .close-menu {
        display: block;
    }

    #check:checked ~ .menu {
        right: 0;
    }
}

/* Hero */
.hero {
    width: 100%;
    height: 100vh;
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.hero-img img {
    width: 70vw;
}

.hero-text h1 {
    color: var(--color1);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.hero-text h2 {
    color: var(--color5);
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    font-style: italic;
    width: 80vw;
}

/* Animation section */
.animated-section {
    opacity: 0;
    transform: translateY(4rem);
    transition: opacity 0.7s ease-in-out, transform 1s ease-in-out;
}

.animated-section.active {
    opacity: 1;
    transform: translateY(0);
}
